.a-dialog-allow-button {
    background-color: #155cab !important;
    color: #ffffff !important;
    
    }
.a-dialog-deny-button {
    background-color: #B1B1B1 !important;
    color: #ffffff !important;
    
    }
.a-dialog-ok-button {
        background-color: #155cab !important;
    }

